<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/vertical_styles.css">
</head>

<body>
    <section class="hexagon-gallery">
        <div class="hex"><img src="static/img/LadyOne.svg" alt="some"></div>
        <div class="hex"><img src="static/img/GentlemanOne.svg" alt="some"></div>
        <div class="hex"><img src="static/img/LadyTwo.svg" alt="some"></div>
        <div class="hex"><img src="static/img/GentlemanTwo.svg" alt="some"></div>
        <div class="hex"><img src="static/img/LadyThree.svg" alt="some"></div>
        <div class="hex"><img src="static/img/GentlemanThree.svg" alt="some"></div>
        <div class="hex"><img src="static/img/LadyFour.svg" alt="some"></div>
        <div class="hex"><img src="static/img/LadyOne.svg" alt="some"></div>
        <div class="hex"><img src="static/img/GentlemanOne.svg" alt="some"></div>
        <div class="hex"><img src="static/img/LadyTwo.svg" alt="some"></div>
        <div class="hex"><img src="static/img/GentlemanTwo.svg" alt="some"></div>
    </section>
</body>

</html>